*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*Gobal*/
body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    text-align: center;
}

.icons li {
    list-style: none;
    display: inline-flex;
    margin: 0 10px;
    height: 70px;
    width: 70px;
    background: #091921;
    box-shadow: -1px -1p 3px rgba(255, 255, 255, 0.1);
}

https: //www.youtube.com/watch?v=jK4L9BE8Q4M