body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #060c21;
    font-family: Arial, Helvetica, sans-serif;
}

.cards__container {
    position: relative;
    width: 90%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
    grid-template-rows: auto;
    grid-gap: 0 40px;
}

.cards__box {
    position: relative;
    height: 400px;
    background: #060c21;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #000000;
}

.cards__box:before {
    position: absolute;
    content: '';
    top: -2px;
    left: -2px;
    right: -2px;
    bottom: -2px;
    background: #ffffff;
    transform: skew(2deg, 2deg);
    z-index: -1;
}

.cards__box:nth-child(1):before {
    background: linear-gradient(315deg, #ff0057, #e64a19);
}

.cards__box:nth-child(2):before {
    background: linear-gradient(315deg, #89ff00, #154ec9);
}

.cards__box:nth-child(3):before {
    background: linear-gradient(315deg, #0eda52, #e61979);
}

.cards__box:nth-child(4):before {
    background: linear-gradient(315deg, #00ccff, #192ee6);
}


.cards__box:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    background: rgba(255, 255, 255, 0.05);
}



.cards__background-header {
    position: absolute;
    top: -60px;
    right: 20px;
    margin: 0;
    padding: 0;
    font-size: 10em;
    color: rgba(255, 255, 255, 0.05);
    transition: 0.5s;
}

.cards__content {
    position: relative;
    padding: 20px;
    transform: translateY(40px);
    z-index: 1;
}

.cards__box:hover .cards__background-header {
    top: -120px;
}

.cards__content-title {
    margin: 0 0 10px;
    padding: 0;
    font-size: 24px;
    font-weight: 500px;
    color: #ffffff;
}

.cards__content-description {
    margin: 0;
    padding: 0;
    color: #ffffff;
    font-size: 16px;
    line-height: 29px;
}

.cards__content-button {
    position: relative;
    margin: 20px 0 0;
    padding: 10px 20px;
    text-decoration: none;
    border: 1px solid #ffffff;
    display: inline-block;
    color: #ffffff;
    transition: 0.5s;
    transform: translateY(-40px);
    opacity: 0;
    visibility: hidden;
    cursor: pointer;
    z-index: 10;
}

.cards__box:hover .cards__content-button {
    transform: translateY(0px);
    opacity: 1;
    visibility: visible;
}

.cards__content-button:hover {
    color: #000000;
    background: #ffffff;
}